html {
    background-color: #d8d8e2;
}
header {
    
    margin: 20px;
}
body {
    margin: 20px;
}
.version {
    color: #0B2239;
    font-family: Inter;
    font-size: 40px;
    opacity: 0.3;
}
.version a {
    color: #0B2239;
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    text-decoration-line: underline;
}
.title {
    color: #0B2239;
    font-family: Inter;
    font-size: 110px;
    font-weight: 900;
    margin: 0;
}
.title_examples {
    color: #0B2239;
    font-family: Inter;
    font-size: 20px;
    opacity: 0.3;
    margin: 100px 0 150px 0;
}

.examples {
    margin: 20px;
}
.accept_cookies {
    display: flex;
    width: 1440px;
    height: 72px;
    justify-content: center;
    align-items: center;
    background: #0B2239;
    margin-bottom: 30px;
}
.accept_text {
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    padding: 16px 100px;

}
.settings {
    color: #4AD295;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin-right: 30px;
}
.button_accept {
    padding: 8px 10px;
    border-radius: 2px;
    border-color: #4AD295;
    background: #4AD295;
    padding: 8px 10px; 
    color: #FFF;

    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px; 
  
}
.button_accept:hover {
    background-color: green;
}

.use_cookie {
    padding: 5px 320px;
    background: #2B2627;
}
.we_use {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
.we_use img {
    margin: 0 10px 0 10px;
}
.use_cookie a {
    margin-left: 5px;
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.read_cookie{
    display: flex;
    width: 560px;
    padding: 16px;
    margin-top: 72px;
    justify-content: center;
    align-items: center;
    background: #FFF;
    border-radius: 16px;
}
.read_title {
    color: #0D0C22;
font-family: Inter;
font-size: 14px;

font-weight: 400;
line-height: 20px
}
.read_icon {
    padding: 8px;
    border-radius: 10px;
    background: rgba(234, 76, 137, 0.10);
    margin-right: 10px;
}
.read_title a {
    color: #EA4C89;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;

}
.button_decline {
    color: #0D0C22;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding: 4px 10px;
    border-radius: 8px;
    border-color:   rgba(13, 12, 34, 0.0) ;
    background: rgba(13, 12, 34, 0.05);
    margin-right: 10px;
}
.button_decline:hover {
    background-color: #716f70;
}
.button_allow {
    color: #FFF;
    padding: 4px 10px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 8px;
    background-color: #EA4C89 ;
    border-color: #EA4C89;
}

.app_uses {
    display: flex;
    width: 560px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    border-radius: 10px;
    background: #26262B;
}

.app_description {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.app_description a {
    color: #E6842E;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

.button_okay {
    color: #26262B;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 4px 10px;
    border-radius: 8px;
    background: #FFF;
    border-color: #FFF;
}

.cookie_column {
    display: flex;
    margin-top: 72px;
  
}

.cookie_notice {
    width: 360px;
    padding: 24px;
    margin-right: 40px;
    border-radius: 6px;
    background: rgba(28, 37, 64, 0.95);
}
.motice_title {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.motice_title a {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.cookie_manage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cookie_manage p {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 160px;
    font-weight: 500;
}
.notice_button {
    display: flex;
    padding: 8px 20px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    border-color: #09B3AF ;
    background: #09B3AF;
}

.cookie_settings {
    width: 360px;
    height: 150px;
    padding: 16px;
    border-radius: 16px;
    background: #FFF;
}

.cookie_settings p{
    color: #687F8C;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.button_settings {
    display: flex;
    justify-content: space-between;
}
.manage_cookies {
    width: 170px;
    height: 32px;
    padding: 6px;
    border-radius: 6px;
    border: none;
    background: #EAF0F4;
    color: #687F8C;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;

}
.accept_all {
    width: 170px;
    height: 32px;
    padding: 6px;
    border-radius: 6px;
    border: none;
    background: #40C1A7;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.last_cookies {
    display: flex;
    margin-top: 72px;
    margin-bottom: 300px;
}
.experience {
    display: flex;
    width: 320px;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    margin-right: 40px;
}
.experience h2 {
    color: #15295A;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 900;
    line-height: 48px; 
    margin: 0;
}

.experience p {
    color: #15295A;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.experience_button {
    display: flex;
    padding: 10px 32px;
    border-radius: 43px;
    background: #4A7EFF;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}

.care_data {
    display: flex;
    width: 320px;
    height: 137px;
    padding: 16px;
    flex-direction: column;
    border-radius: 4px;
    background: #FFF;
}
.care_data p {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.privacy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.privacy a {
    color: #66F;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.policy_button {
    width: 100px;
    height: 40px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    background: #66F;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
